.addLink {
  color: #fff;
  text-decoration: none;
}

.addLink:hover {
  color: #fff;
}

.pagination {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  border-top: 1px solid #c5c5c5;
}

.layout {
  border-top-left-radius: 0px !important;
}

.disabled {
  pointer-events: none;
}
