.icon {
  height: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.check {
  position: relative;
}

.checkbox {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgs {
  height: 100%;
  position: relative;
}

.imgs > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price,
.art,
.date {
  text-align: center;
}
