.modal {
  width: 490px;
}

.btnsLine {
  display: flex;
  justify-content: space-between;
}

.input {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid var(--color-violet-modal);
  border-radius: 8px;
}

.modal .icon {
  width: 25px;
  height: 25px;
  top: 0px;
}

.icon path {
  fill: #1d63f6;
}
