.wrapper {
  width: 65%;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.chart {
  height: 250px;
  position: relative;
}

.tooltip {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
  text-align: center;
}
