.wrapper {
  margin-top: 30px;
  width: 65%;
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  box-shadow: var(--main-shadow);
}

.title {
  font-size: 24px;
  color: var(--color-title);
  font-family: var(--font-bold);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.chart {
  height: 250px;
  position: relative;
  /* left: -20px; */
}

.tooltip {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
  text-align: center;
}
