.addBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--color-red);
  font-weight: 500;
  width: 100%;
  margin-top: 10px;
  text-align: right;
  outline: none !important;
}
