.wrapper {
  width: 100%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu a {
  position: relative;
  padding-left: 60px;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--main-text-color);
  transition: color 0.2s;
}

.menu a:hover {
  color: #2f7df6;
  text-decoration: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
}

.active {
  color: #0070ff !important;
  background-color: #e0f6fc;
  position: relative;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #50abf7;
}
