.wrapper {
  padding: 30px;
}

.input {
  border: 1px solid #d9d8d4;
  background-color: transparent;
  /* height: 40px; */
  box-shadow: none !important;
}

.inputWrapper {
  position: relative;
}

.inputWrapper:not(:first-of-type) {
  margin-top: 30px;
}

.userIcon,
.lockIcon {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 25px;
  height: 25px;
}

.userIcon path,
.lockIcon path {
  fill: #4e4ce6;
}

.loginBtn {
  width: 100% !important;
}

.regLine {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* TODO: сделать анимацию на модальной кнопке */
.loginBtn:hover {
  opacity: 90%;
}

.checkLabel {
  margin-bottom: 30px;
  /* padding-left: px; */
  display: flex;
  color: #6e757c;
}

.checkLabel > span {
  margin-left: 10px;
}

.regLink {
  color: #4e4ce6;
  text-decoration: none;
  font-family: var(--font-medium);
}

.regLink:hover {
  color: #6e757c;
}
