.item {
  margin: 0 !important;
  padding: 0px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  width: 1238px;
  animation: none;
}

.leftSide {
  display: flex;
}

.color {
  width: 80px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f9f9fa;
  position: relative;
}

.badge {
  width: 40px;
  height: 40px;
  background-color: #fff !important;
  text-align: center;
  line-height: 40px;
  border-radius: 12px;
  font-family: var(--font-bold);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-title) !important;
}

.title {
  width: 500px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  margin-top: 13px;
  font-family: var(--font-medium);
  color: var(--color-title);
  border-right: 2px solid #e9e9ee;
}

.count {
  width: 200px;
  height: 50px;
  margin-top: 13px;
  border-right: 2px solid #e9e9ee;
  padding-left: 25px;
  line-height: 25px;
  color: var(--color-title);
  font-family: var(--font-medium);
}

.count > p {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
  color: #7c8296;
  font-family: var(--font);
  font-weight: 100;
}

.date {
  height: 50px;
  margin-top: 13px;
  width: 200px;
  padding-left: 25px;
  line-height: 25px;
  color: var(--color-title);
  font-family: var(--font-medium);
}

.date > p {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
  color: #7c8296;
}

.tools {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

/* Скрытая часть для перетаскивания */
.phantom {
  width: 1238px;
  height: 15px;
}
