.isActive {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.isActive > span {
  color: #7b767a;
  font-weight: bold;
  margin-left: 10px;
}

.label {
  color: var(--color-title);
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.inputWrapper {
  position: relative;
}

.inputWrapper > span {
  position: absolute;
  top: 50%;
  left: 82%;
  color: #333;
  font-weight: bold;
  transform: translate(0, -50%);
  pointer-events: none;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns button {
  display: block;
  width: 135px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin-top: 40px;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s ease;
  box-sizing: border-box;
  outline: none;
  font-weight: 500;
}

.btns .cancelBtn {
  color: var(--color-violet);
}

.btns > .submit {
  background-color: var(--color-red);
  color: #fff;
  box-shadow: 0 0 15px 1px #ff275248;
}

.btns .cancelBtn:hover {
  background-color: var(--color-violet);
  color: #fff;
  text-decoration: none;
}

.btns > .submit:hover {
  background-color: #fa4d70;
}
