.isActive {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.isActive > span {
  color: #7b767a;
  font-weight: bold;
  margin-left: 10px;
}

.label {
  color: var(--color-title);
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.inputWrapper {
  position: relative;
}

.inputWrapper > span {
  position: absolute;
  top: 50%;
  left: 82%;
  color: #333;
  font-weight: bold;
  transform: translate(0, -50%);
  pointer-events: none;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.btns > * {
  width: 48%;
}

.btns > a > button {
  width: 100%;
}
