.title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-bold);
  color: var(--color-title);
  margin-top: 20px;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.saveBtn {
  margin-left: 10px;
}
