.checkWrapper {
  position: relative;
}

.check {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgs {
  margin: 0 !important;
  padding: 0 !important;
}

.imgsWrapper {
  height: 100%;
  display: flex;
  padding-left: 15px;
  align-items: center;
}
.imgsWrapper > div:not(:first-of-type) {
  margin-left: 5px;
}
.icon {
  height: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.icon path {
  fill: #333;
}
