.pageWrapper {
  width: 100%;
  height: 100vh;
  background-color: #e9e9ef;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1000px;
  height: 600px !important;
  align-self: unset !important;
  display: flex;
  padding: 0 !important;
  overflow: hidden;
}

.wrapper > div {
  width: 50%;
  height: 100%;
}

.wrapper .img {
  background-image: url("assets/img/loginBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  padding: 40px;
  padding-top: 70px;
}

.content .title h2 {
  padding-left: 30px;
  font-size: 40px;
}
