.wrapper {
  width: calc(100% - 250px);
  height: 48px;
  position: absolute;
  top: 20px;
  display: none;
  animation: fadeOut 0.3s;
}

.wrapper.visible {
  display: flex;
  justify-content: center;
}

.content {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name {
  margin-right: 20px;
  font-size: 16px;
  font-family: var(--font-medium);
}

.logout {
  background-color: transparent;
  border: none;

  width: 50px;
  height: 50px;
  position: relative;
}

.logout svg {
  width: 40%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout svg path {
  fill: var(--color-title);
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
