.wrapper {
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px !important;
  box-sizing: border-box;
  height: 100vh;
}

.content {
  padding-left: 315px;
  padding-right: 65px;
  box-sizing: border-box;
  z-index: 1;
}

.content.mini {
  padding-left: 145px;
}
