.wrapper {
  height: 100vh;
}

.main {
  height: calc(100vh - 65px);
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100%;
  height: inherit;
}

.content {
  height: 100%;
  width: calc(100vw - 200px);
  background-color: #f2f4f1;
}
