.wrapper {
  height: 100vh;
}

.main {
  height: calc(100vh - 65px);
  display: flex;
}

.sidebar {
  width: 250px !important;
  box-sizing: border-box;
  height: 100%;
  height: inherit;
}

.content {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: #f8f8fe;
  z-index: 1;
}
