.up,
.down {
  display: table-cell;
}

.link {
  user-select: none;
  position: relative;
}

.link:before {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 4px solid #bdcad8;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: calc(50% + 1px);
  right: -15px;
  transition: transform 0.4s ease;
}

.link:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid #bdcad8;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: calc(50% + 1px);
  right: -15px;
  transition: transform 0.4s ease;
  /* display: none; */
}

.link svg path {
  fill: var(--color-red);
}

.up .link:before {
  border-top: 4px solid #4c6077;
}
.down .link:after {
  border-bottom: 4px solid #4c6077;
}

.disabledLink {
  pointer-events: none;
}
