.up,
.down {
  display: table-cell;
  /* width: 100%; */
  /* height: 100%; */
  position: relative;
}

.link {
  user-select: none;
  position: relative;
}

.up .link:after,
.down .link:after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  right: -20px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.up .link:after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid #333;
  top: 0px;
}

.down .link:after {
  border-top: 5px solid #333;
  border-bottom: 5px solid transparent;
  top: 5px;
}

.disabledLink {
  pointer-events: none;
}

.test {
  background-color: red;
}
