.wrapper {
  background-color: #fff;
  padding-top: 30px;
  box-sizing: border-box;
  box-shadow: var(--main-shadow);
  height: calc(100% - 160px);
  overflow: scroll;
  border-radius: 6px;
}

.inner {
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
