.formLine {
  margin-top: 20px;
}

.label {
  color: #7b767a;
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.input {
  background-color: #f3f7f8;
  border-color: #dde6e9;
  height: 50px;
  color: #757b82;
  margin-top: 5px;
}
