.wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: baseline;
}

.title,
.counter {
  color: var(--color-title);
  font-weight: bold;
}

.title {
  font-size: 18px;
  flex-grow: 1;
}

.counter {
  font-size: 16px;
}
