.label {
  color: var(--color-title);
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 20px;
}

.btns {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.findBtn {
  margin-left: 10px;
}
