.wrapper {
  width: 490px;
}

.name {
  font-family: var(--font-bold);
  color: var(--color-red);
}

.btnsLine {
  display: flex;
  justify-content: space-between;
}

.icon path {
  fill: var(--color-red);
}
