.dateWrapper {
  background-color: #f6f6f7;
  font-family: var(--font-bold);
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  border: none;
}

.dateWrapper > span {
  color: var(--color-red);
  margin-left: 10px;
}

.dateWrapper > svg {
  margin-right: 10px;
}
