.ck-editor {
  color: #767c81 !important;
  margin-top: 5px !important;
}

.ck-toolbar {
  border: 1px solid #f2f3f7 !important;
  border-bottom: none !important;
  background-color: #fff !important;
}

.ck-toolbar_grouping {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

.ck-toolbar_grouping path {
  color: #85878a !important;
}

.ck-content {
  border: 1px solid var(--color-background) !important;
  /* border: 1px solid #000; */
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.ck-content p {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
}
.ck-editor__editable_inline {
  height: 200px;
  background-color: var(--color-background) !important;
  box-shadow: var(--inset-shadow) !important;
  outline: none !important;
}

.ck-editor__editable.ck-focused {
  box-shadow: var(--inset-shadow) !important;
}
