.wrapper {
  display: flex;
  color: var(--color-lightgray);
  font-family: var(--font-bold);
  align-items: center;
  font-size: 18px;
}

.wrapper * {
  box-shadow: none !important;
}

.catBtn > button {
  border: none;
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  background-color: transparent;
  color: var(--color-darkgray);
  font-family: var(--font-bold);
  height: 40px;
  position: relative;
  padding-right: 25px;
}

.catBtn > button::after {
  display: none;
}

.catBtn > button::before {
  content: "";
  width: 23px;
  height: 13px;
  background-image: url("../../../../../../assets/svg/arrow-down.svg") !important;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
