* button {
  outline: none !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 0.875rem;
  background-color: #fcfefc !important;
  font-family: Roboto !important;
}

a:hover {
  text-decoration: none !important;
}

.table {
  box-sizing: border-box;
  border-bottom: 2px solid #f0f0f0 !important;
}

.table thead {
  color: #292829 !important;
}

.table thead a {
  color: var(--color-lightgray);
  text-decoration: none !important;
}

.table > thead > tr > th {
  border: none !important;
  border-bottom: 2px solid #f0f0f0 !important;
  box-sizing: border-box;
  font-family: "Roboto-bold", sans-serif;
  letter-spacing: 0.6px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-lightgray);
  line-height: 50px;
}

.table > tbody > tr > td {
  height: 70px !important;
  line-height: 70px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: var(--color-darkgray) !important;
  font-family: "Roboto-bold", sans-serif;
}

:root {
  --main-border-color: #e6e8e5;
  --main-text-color: #7a7c7b;
  --color-violet: #6c7af7;
  --color-violet-modal: #4f4ce6;
  --color-title: #2f2f35;
  --color-text-modal: #6b7597;
  --color-background: #f8f8fe;
  --color-red: #ff2753;
  /* --color-darkgray: #5a667d; */
  --color-darkgray: #333;
  /* --color-lightgray: #999ea8; */
  --color-lightgray: #676a72;
  --inset-shadow: inset 0 0 10px 1px rgba(160, 160, 160, 0.1);
  --inset-shadow-error: inset 0 0 10px 1px #ff275228;
  --main-shadow: 0 0 25px 1px rgba(122, 121, 121, 0.1);
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("MyFont"),
    url(./assets/fonts/Roboto/Roboto-Bold.ttf) format("woff");
}

@font-face {
  font-family: "Roboto";
  src: local("MyFont"),
    url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("woff");
}
