body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 0.875rem;
}

:root {
  --main-border-color: #dfe2e6;
  --main-text-color: #333;
}
