.check {
  position: relative;
  width: 50px;
  box-sizing: border-box;
}

.checkbox {
  top: -15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.art,
.date,
.photo,
.price {
  text-align: center;
}
