.pageWrapper {
  width: 100%;
  height: 100vh;
  background-color: #e9e9ef;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 500px;
  height: 600px !important;
  align-self: unset !important;
  overflow: hidden;
  position: relative;
}

.backToLogin {
  position: absolute;
  width: 100%;
  height: 40;
  line-height: 40px;
  bottom: 0;
  left: 0;
  text-align: center;
}

.backToLogin a {
  font-family: var(--font-medium);
  color: #4e4ce6;
}
